// Table of Contents:
//
// 1.  Colors
// 2.  Typography
// 3.  Page
// 4.  Breakpoints
// 5.  Grid

// Class Prefix
$class-prefix: 'js' !default;

// 1.  Colors
// ----------
$brand-blue: #05668d !default;
$brand-red: #d1495b !default;
$brand-green: #00a669 !default;
$brand-gray: #8a716a !default;
$brand-black: #2f2d2e !default;

// 2.  Typography
// --------------
$base-font-size: 100% !default;
$base-line-height: 1.5 !default;
$base-font-color: $brand-black !default;
$body-background-color: white !default;
$base-font-weight: 400 !default;
$base-font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans"," Helvetica Neue", sans-serif !default;
$brand-font-family: "Montserrat", $base-font-family !default;

$static-font-sizes: (
  xs: (
    font-size:    0.875em,   // ~14px
    line-height:  1.214em    // ~17px
  ),
  sm: (
    font-size:    1.125em,   // ~18px
    line-height:  1.222em    // ~22px
  ),
  md: (
    font-size:    1.750em,   // ~28px
    line-height:  1.250em    // ~35px
  ),
  lg: (
    font-size:    2.250em,   // ~36px
    line-height:  1.111em    // ~40px
  ),
  xl: (
    font-size:    2.250em,   // ~36px
    line-height:  1.111em    // ~40px
  )
 ) !default;

$responsive-font-sizes: (
  xs: (
    font-size: (
      xs:  0.875em,   // ~14px
      sm:  0.875em,   // ~14px
      md:  0.875em,   // ~14px
      lg:  0.875em,   // ~14px
      xl:  0.875em    // ~14px
    ),
    line-height: (
      xs:  1.214em,   // ~17px
      sm:  1.214em,   // ~17px
      md:  1.214em,   // ~17px
      lg:  1.214em,   // ~17px
      xl:  1.214em    // ~17px
    )
  ),
  sm: (
    font-size: (
      xs:  1.125em,   // ~18px
      sm:  1.125em,   // ~18px
      md:  1.125em,   // ~18px
      lg:  1.125em,   // ~18px
      xl:  1.125em    // ~18px
    ),
    line-height: (
      xs:  1.056em,   // ~19px
      sm:  1.167em,   // ~21px
      md:  1.222em,   // ~22px
      lg:  1.222em,   // ~22px
      xl:  1.222em    // ~22px
    )
  ),
  md: (
    font-size: (
      xs:  1.375em,   // ~22px
      sm:  1.500em,   // ~24px
      md:  1.750em,   // ~28px
      lg:  1.750em,   // ~28px
      xl:  1.750em    // ~28px
    ),
    line-height: (
      xs:  1.091em,   // ~24px
      sm:  1.250em,   // ~30px
      md:  1.250em,   // ~35px
      lg:  1.250em,   // ~35px
      xl:  1.250em    // ~35px
    )
  ),
  lg: (
    font-size: (
      xs:  1.625em,   // ~26px
      sm:  2.000em,   // ~32px
      md:  2.250em,   // ~36px
      lg:  2.250em,   // ~36px
      xl:  2.250em    // ~36px
    ),
    line-height: (
      xs:  1.115em,   // ~29px
      sm:  1.250em,   // ~40px
      md:  1.111em,   // ~40px
      lg:  1.111em,   // ~40px
      xl:  1.111em    // ~40px
    )
  ),
  xl: (
    font-size: (
      xs:  1.625em,   // ~26px
      sm:  2.000em,   // ~32px
      md:  2.250em,   // ~36px
      lg:  2.250em,   // ~36px
      xl:  2.250em    // ~36px
    ),
    line-height: (
      xs:  1.115em,   // ~29px
      sm:  1.250em,   // ~40px
      md:  1.111em,   // ~40px
      lg:  1.111em,   // ~40px
      xl:  1.111em    // ~40px
    )
  )
 ) !default;

// 3.  Page
// --------
$grid-margins: (
  xs:  0.938em,   // ~15px
  sm:  1.875em,   // ~30px
  md:  1.875em,   // ~30px
  lg:  1.875em,   // ~30px
  xl:  1.875em    // ~30px
) !default;

// 4.  Breakpoints
// ---------------
$breakpoints: (
  xs:   0,          // Mobile first
  sm:   35.999em,   // ~576px
  md:   47.999em,   // ~768px
  lg:   59.999em,   // ~960px
  xl:   99.999em    // ~1600px
) !default;
