// Repeats a value X amount of times
//
// @param $times {Number} - The number of times to repeat the value
// @param $value {CSS Value} - A valid value with units
//
// Usage:
//   repeat(4, 1fr);
@function repeat($repeat, $value) {
  $list: ();

  @for $i from 1 through $repeat {
    $list: append($list, $value, space);
  }

  @return $list;
}

// Generates the correct amount of grid tracks for IE
//
// @param $values {CSS Value} - A set of col / row values with units
// @param $value {CSS Value} - A valid value with units for grid-gap
//
// Usage:
//   ms-set-tracks(50px 1fr 15em, 16px);
@function ms-set-tracks($values, $gap) {
  $result: ();

  @each $value in $values {
    $result: if(type-of($value) == list, join($result, $value), append($result, $value));
  }

  @if (length($values) > 1) {
    @for $i from 1 through length($result) - 1 {
      $result: set-nth($result, $i, nth($result, $i) $gap);
    }
  }

  @return $result;
}
