// Display Helpers
// ---------------
@each $breakpoint in map-keys($breakpoints) {
  @include min-width-media-query($breakpoint) {
    $suffix: breakpoint-suffix($breakpoint, $breakpoints);

    .#{$class-prefix} {
      &-d-none#{$suffix} {
        display: none !important;
      }

      &-d-block#{$suffix} {
        display: block !important;
      }

      &-d-inline#{$suffix} {
        display: inline !important;
      }

      &-d-inline-block#{$suffix} {
        display: inline-block !important;
      }

      &-d-flex#{$suffix} {
        display: flex !important;
      }
    }
  }
}
