// Layout Helpers
// --------------
.#{$class-prefix} {
  &-grid-bleed {
    margin: -(map-get($grid-margins, 'base'));
  }

  &-grid-bleed-x {
    margin: 0 (-(map-get($grid-margins, 'base')));
  }

  &-grid-bleed-y {
    margin: -(map-get($grid-margins, 'base')) 0;
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    $spacing-value: map-get($grid-margins, $breakpoint);

    .#{$class-prefix} {
      &-grid-bleed {
        margin: -($spacing-value);
      }

      &-grid-bleed-x {
        margin: 0 (-($spacing-value));
      }

      &-grid-bleed-y {
        margin: -($spacing-value) 0;
      }
    }
  }
}
