// Layout Helpers
// --------------
.#{$class-prefix} {
  &-grid-container {
    padding: map-get($grid-container, "base");
  }

  &-grid-container-x {
    padding: 0 map-get($grid-container, "base");
  }

  &-grid-container-y {
    padding: map-get($grid-container, "base") 0;
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    $spacing-value: map-get($grid-container, $breakpoint);

    .#{$class-prefix} {
      &-grid-container {
        padding: $spacing-value;
      }

      &-grid-container-x {
        padding: 0 $spacing-value;
      }

      &-grid-container-y {
        padding: $spacing-value 0;
      }
    }
  }
}
